// Colors
$white: white;

$main-bg: #e7e5e5;
$main-color: #81b3d2;
$nav-button-border-top: #aecee2;
$nav-button-border-bottom: #678fa8;
$minimal-advantage-bg: #eeeeee;
$minimal-advantage-division: #d6d6d6;
