.button {
  display: inline-block;

  padding: 16px 0 16px;

  width: 280px;
  height: 58px;

  border: 0;

  background-color: $light-blue;

  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
}
