.copyright {
  display: flex;

  align-items: center;
}

.copyright__title {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  margin-right: 8px;
}
