.last-question--wrapper {
  padding: 33px 20px 39px;

  text-align: center;
}

.last-question__title {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.last-question__description {
  margin-top: 18px;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
