.main-nav--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__close-button {
  display: block;
  position: absolute;

  top: 17px;
  right: 16px;

  width: 22px;
  height: 22px;

  border: 0;

  background-image: url("../img/icon-cross.svg");
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  width: 100%;
}

.main-nav__item--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 156px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}

.main-nav__link {
  font-family: "PT Sans", sans-serif;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 10px 0 5px;

  color: $white;

  display: block;

  width: 100%;
  height: 55px;

  background-color: $main-color;

  border-bottom: 1px solid $nav-button-border-bottom;
  border-top: 1px solid $nav-button-border-top;

  &--first {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: 0;

    font-size: 14px;
    line-height: 26px;
    color: black;

    padding: 16px 0 14px;

    height: 56px;
  }
}
