.photos__list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.photos__item {
  position: relative;

  padding: 22px 20px 15px;

  &::before,
  &:last-child::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    content: "";

    width: 100%;
    height: 1px;

    background-color: $photo-item-division;
  }

  &:last-child::after {
    top: unset;
    bottom: 0;
  }
}

.photos__image {
  width: 100%;
}

.photos__title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  margin: 11px 0 0;
}

.photos__author {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;

  margin: 0;
}

.photos__likes {
  display: flex;
  align-items: baseline;
  gap: 14px;

  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  margin: 10px 0 0;

  &::before {
    content: "";

    width: 23px;
    height: 21px;

    background-image: url("../../img/like-icon.svg");
  }
}
