.recommendations-list {
  padding: 35px 11px 35px 69px;
  margin: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;

    padding: 158px 0 59px;
    gap: 0;
  }
}

.recommendations-list__item {
  @media (min-width: $tablet-width) {
    text-align: center;
  }
}


.recommendations-list__title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin: 0 0 15px;
}

.recommendations-list__description {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  margin: 0;
}
