.recommendations-list {
  padding: 35px 11px 35px 69px;
  margin: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 26px;
}


.recommendations-list__title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin: 0 0 15px;
}

.recommendations-list__description {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  margin: 0;
}
